.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1200px;
  }
}

//========================
@include mq(mobile-only) {
}

@include mq(mobile) {
}

@include mq(tablet-only) {
}

@include mq(tablet) {
}

@include mq(desktop) {
}