$main-font: "Roboto", sans-serif;
$secondary-font: 'Raleway', sans-serif;

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-text-color: #2196F3;
$white-text-color: #fff;
$white-opacity-text-color: rgba(255, 255, 255, 0.6);

$primary-background-color: #fff;
$secondary-background-color: #F5F4FA;
$accent-background-color: #2196F3;
$dark-background-color: #2F303A;

$logo-color: #000;
$icon-color: #afb1b8;

$duration-time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);