.benefits {
  @include mq(desktop) {
    padding-bottom: 47px;
  }
}

.benefits__list {
  @include mq(tablet-only) {
    flex-wrap: wrap;
  }
  
  @include mq(tablet) {
    display: flex;
    margin: -15px;
  }
}

.benefits__item {
  @include mq(mobile-only) {
    margin-bottom: 30px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @include mq(desktop) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.benefits__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-background-color;
  border-radius: 4px;
}

.benefits__icon {
  @include boxSize(70px, 70px);
}

.benefit__title,
.benefits__desc {
  font-size: 14px;
}

.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.benefits__desc {
  font-weight: 400;
  color: $primary-text-color;
}