.form__title {
  margin-bottom: 12px;

  text-align: center;
  @include font(20px, 700, 1.2, 0.03em);
}

.form__element {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;

  
  & .form__input:focus+svg {
    fill: $accent-background-color;
  }
}

.last-element {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;

  @include font(12px, 400, 1.2, 0.01em);
  color: $primary-text-color;
}

.form__input {
  @include boxSize(100%, 40px);
  padding-left: 42px;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  outline-offset: -1px;
  
  transition: outline $duration-time-function;
  
  cursor: pointer;
  
  &:focus {
    outline: 1px solid $accent-background-color;
  }

  &-wrapper {
    position: relative;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  @include boxSize(18px, 18px);

  translate: 0 -50%;
}

.textarea {
  min-height: 120px;
  padding: 12px 16px;

  resize: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &-label,
  &-link {
    @include font(14px, 400, 1.7, 0.03em);
  }
  
  &-label {
    display: flex;
    align-items: center;
  
    color: $primary-text-color;
  }
  
  &-link {
    margin-left: 7px;
  
    color: $accent-text-color;
  
    &::after {
      content: "";
    
      display: block;
      @include boxSize(100%, 1px);
    
      background-color: $accent-background-color;
    
      translate: 0 -6px;
    }
  }
}

.form__icon--check {
  display: inline;
  @include boxSize(16px, 15px);
  margin-right: 7px;

  fill: none;
  background-color: $primary-background-color;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;

  cursor: pointer;

  .form__checkbox-input:checked+.form__checkbox-label & {
    fill: $primary-background-color;
    background-color: $accent-background-color;
    border: 2px solid $accent-background-color;
  }
}


