.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-color: $dark-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq(mobile-only) {
    max-width: 480px;
    height: 400px;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero-sm.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero-sm@2x.jpg);
    }
  }
  
  @include mq(tablet-only) {
    width: 768px;
    height: 400px;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero-md.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero-md@2x.jpg);
    }
  }

  @include mq(befor-desktop) {
    padding: 118px 0;
  }
  
  @include mq(desktop) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero-lg.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero-lg@2x.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto 30px;

  color: $white-text-color;
  text-transform: uppercase;

  @include mq(befor-desktop) {
    @include font(26px, 900, 1.6, 0.06em);
  }

  @include mq(tablet-only) {
    width: 360px;
  }
  
  @include mq(desktop) {
    width: 696px;

    @include font(44px, 900, 1.4, 0.06em);
  }
}

.hero__btn {
  padding: 10px 32px;
}