.services {
  padding: 47px 0 94px;
  background-color: $primary-background-color;
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.services__info {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  @include boxSize(100%, 70px);
  padding: 27px 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.services__desc {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $white-text-color;
}